# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Xcode
**/DerivedData/
*.xcuserstate
*.xcuserdata/

# Android
android/.gradle/
android/app/build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Python virtual environments
.venv/
venv/
env/
ENV/